*{
    margin :0;
   padding: 0; 
}
.header{
    background-color:#1b1f23;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 30px;
    color: #1b1f23;
}

.profile{width: 30px;
    height: auto;
    border-radius:200%;
}
.main{
    background-color: black;
    height: 1200px;
}